# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=sinhvien-online

# Strapi CMS API
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=

# Directus Auth & Subscription API
NEXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
DIRECTUS_API_TOKEN=

# SEO
NEXT_PUBLIC_SITE_DESCRIPTION=sinhvien-online.com - Sàn môi giới gia sư cho sinh viên
